# Connect to Snowflake

In [1]:
from dotenv import load_dotenv
load_dotenv()     # loads keys into os.environ so the rest of your code sees them

True

In [2]:
# authenticate into Snowflake
from snowflake.snowpark import Session
import os
connection_parameters = {
    "account": os.getenv('SNOWFLAKE_ACCOUNT'),
    "user": os.getenv('SNOWFLAKE_USER'),
    "password": os.getenv('SNOWFLAKE_PASSWORD'),
    "role": os.getenv('SNOWFLAKE_ROLE'),
    "warehouse": os.getenv('SNOWFLAKE_WAREHOUSE'),
    "database": os.getenv('SNOWFLAKE_DATABASE'),
    "schema": os.getenv('SNOWFLAKE_SCHEMA')
}
session = Session.builder.configs(connection_parameters).create()

In [3]:
# check connection has been successful
print("Session Current Account:", session.get_current_account())

Session Current Account: "WEVIRIP-NA38028"

# Data Exploration

In [4]:
# load tables into session
purchase_history = session.table('PURCHASE_HISTORY')
campaign_info = session.table('CAMPAIGN_INFO')
complain_info = session.table('COMPLAINT_INFO')

In [5]:
# show first 5 rows of purchase table
purchase_history.show(n=5)

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ID"  |"YEAR_BIRTH"  |"EDUCATION"  |"MARITAL_STATUS"  |"INCOME"  |"KIDHOME"  |"TEENHOME"  |"DT_CUSTOMER"  |"RECENCY"  |"MNTWINES"  |"MNTFRUITS"  |"MNTMEATPRODUCTS"  |"MNTFISHPRODUCTS"  |"MNTSWEETPRODUCTS"  |"MNTGOLDPRODS"  |"NUMDEALSPURCHASES"  |"NUMWEBPURCHASES"  |"NUMCATALOGPURCHASES"  |"NUMSTOREPURCHASES"  |"NUMWEBVISITSMONTH"  |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|5524  |1957          |Graduation   |Single            |58138     |0          |0           |2012-09-04     |58         |635         |88           |546                |172                |88                  |88              |3                    |8                  |10                     |4                    |7                    |
|2174  |1954          |Graduation   |Single            |46344     |1          |1           |2014-03-08     |38         |11          |1            |6                  |2                  |1                   |6               |2                    |1                  |1                      |2                    |5                    |
|4141  |1965          |Graduation   |Together          |71613     |0          |0           |2013-08-21     |26         |426         |49           |127                |111                |21                  |42              |1                    |8                  |2                      |10                   |4                    |
|6182  |1984          |Graduation   |Together          |26646     |1          |0           |2014-02-10     |26         |11          |4            |20                 |10                 |3                   |5               |2                    |2                  |0                      |4                    |6                    |
|5324  |1981          |PhD          |Married           |58293     |1          |0           |2014-01-19     |94         |173         |43           |118                |46                 |27                  |15              |5                    |5                  |3                      |6                    |5                    |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [6]:
# use the collect() method to display data (more suited to gather and retrieve data)
purchase_history.collect()

[Row(ID=5524, YEAR_BIRTH=1957, EDUCATION='Graduation', MARITAL_STATUS='Single', INCOME=58138, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2012, 9, 4), RECENCY=58, MNTWINES=635, MNTFRUITS=88, MNTMEATPRODUCTS=546, MNTFISHPRODUCTS=172, MNTSWEETPRODUCTS=88, MNTGOLDPRODS=88, NUMDEALSPURCHASES=3, NUMWEBPURCHASES=8, NUMCATALOGPURCHASES=10, NUMSTOREPURCHASES=4, NUMWEBVISITSMONTH=7),
 Row(ID=2174, YEAR_BIRTH=1954, EDUCATION='Graduation', MARITAL_STATUS='Single', INCOME=46344, KIDHOME=1, TEENHOME=1, DT_CUSTOMER=datetime.date(2014, 3, 8), RECENCY=38, MNTWINES=11, MNTFRUITS=1, MNTMEATPRODUCTS=6, MNTFISHPRODUCTS=2, MNTSWEETPRODUCTS=1, MNTGOLDPRODS=6, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=1, NUMCATALOGPURCHASES=1, NUMSTOREPURCHASES=2, NUMWEBVISITSMONTH=5),
 Row(ID=4141, YEAR_BIRTH=1965, EDUCATION='Graduation', MARITAL_STATUS='Together', INCOME=71613, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 8, 21), RECENCY=26, MNTWINES=426, MNTFRUITS=49, MNTMEATPRODUCTS=127, MNTFISHPRODUCTS=111, MNTSWEETPRODUCTS=21, MNTGOLDPRODS=42, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=8, NUMCATALOGPURCHASES=2, NUMSTOREPURCHASES=10, NUMWEBVISITSMONTH=4),
 Row(ID=6182, YEAR_BIRTH=1984, EDUCATION='Graduation', MARITAL_STATUS='Together', INCOME=26646, KIDHOME=1, TEENHOME=0, DT_CUSTOMER=datetime.date(2014, 2, 10), RECENCY=26, MNTWINES=11, MNTFRUITS=4, MNTMEATPRODUCTS=20, MNTFISHPRODUCTS=10, MNTSWEETPRODUCTS=3, MNTGOLDPRODS=5, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=2, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=4, NUMWEBVISITSMONTH=6),
 Row(ID=5324, YEAR_BIRTH=1981, EDUCATION='PhD', MARITAL_STATUS='Married', INCOME=58293, KIDHOME=1, TEENHOME=0, DT_CUSTOMER=datetime.date(2014, 1, 19), RECENCY=94, MNTWINES=173, MNTFRUITS=43, MNTMEATPRODUCTS=118, MNTFISHPRODUCTS=46, MNTSWEETPRODUCTS=27, MNTGOLDPRODS=15, NUMDEALSPURCHASES=5, NUMWEBPURCHASES=5, NUMCATALOGPURCHASES=3, NUMSTOREPURCHASES=6, NUMWEBVISITSMONTH=5),
 Row(ID=7446, YEAR_BIRTH=1967, EDUCATION='Master', MARITAL_STATUS='Together', INCOME=62513, KIDHOME=0, TEENHOME=1, DT_CUSTOMER=datetime.date(2013, 9, 9), RECENCY=16, MNTWINES=520, MNTFRUITS=42, MNTMEATPRODUCTS=98, MNTFISHPRODUCTS=0, MNTSWEETPRODUCTS=42, MNTGOLDPRODS=14, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=6, NUMCATALOGPURCHASES=4, NUMSTOREPURCHASES=10, NUMWEBVISITSMONTH=6),
 Row(ID=965, YEAR_BIRTH=1971, EDUCATION='Graduation', MARITAL_STATUS='Divorced', INCOME=55635, KIDHOME=0, TEENHOME=1, DT_CUSTOMER=datetime.date(2012, 11, 13), RECENCY=34, MNTWINES=235, MNTFRUITS=65, MNTMEATPRODUCTS=164, MNTFISHPRODUCTS=50, MNTSWEETPRODUCTS=49, MNTGOLDPRODS=27, NUMDEALSPURCHASES=4, NUMWEBPURCHASES=7, NUMCATALOGPURCHASES=3, NUMSTOREPURCHASES=7, NUMWEBVISITSMONTH=6),
 Row(ID=6177, YEAR_BIRTH=1985, EDUCATION='PhD', MARITAL_STATUS='Married', INCOME=33454, KIDHOME=1, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 5, 8), RECENCY=32, MNTWINES=76, MNTFRUITS=10, MNTMEATPRODUCTS=56, MNTFISHPRODUCTS=3, MNTSWEETPRODUCTS=1, MNTGOLDPRODS=23, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=4, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=4, NUMWEBVISITSMONTH=8),
 Row(ID=4855, YEAR_BIRTH=1974, EDUCATION='PhD', MARITAL_STATUS='Together', INCOME=30351, KIDHOME=1, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 6, 6), RECENCY=19, MNTWINES=14, MNTFRUITS=0, MNTMEATPRODUCTS=24, MNTFISHPRODUCTS=3, MNTSWEETPRODUCTS=3, MNTGOLDPRODS=2, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=3, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=2, NUMWEBVISITSMONTH=9),
 Row(ID=5899, YEAR_BIRTH=1950, EDUCATION='PhD', MARITAL_STATUS='Together', INCOME=5648, KIDHOME=1, TEENHOME=1, DT_CUSTOMER=datetime.date(2014, 3, 13), RECENCY=68, MNTWINES=28, MNTFRUITS=0, MNTMEATPRODUCTS=6, MNTFISHPRODUCTS=1, MNTSWEETPRODUCTS=1, MNTGOLDPRODS=13, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=1, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=0, NUMWEBVISITSMONTH=20),
 Row(ID=1994, YEAR_BIRTH=1983, EDUCATION='Graduation', MARITAL_STATUS='Married', INCOME=None, KIDHOME=1, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 11, 15), RECENCY=11, MNTWINES=5, MNTFRUITS=5, MNTMEATPRODUCTS=6, MNTFISHPRODUCTS=0, MNTSWEETPRODUCTS=2, MNTGOLDPRODS=1, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=1, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=2, NUMWEBVISITSMONTH=7),
 Row(ID=387, YEAR_BIRTH=1976, EDUCATION='Basic', MARITAL_STATUS='Married', INCOME=7500, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2012, 11, 13), RECENCY=59, MNTWINES=6, MNTFRUITS=16, MNTMEATPRODUCTS=11, MNTFISHPRODUCTS=11, MNTSWEETPRODUCTS=1, MNTGOLDPRODS=16, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=2, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=3, NUMWEBVISITSMONTH=8),
 Row(ID=2125, YEAR_BIRTH=1959, EDUCATION='Graduation', MARITAL_STATUS='Divorced', INCOME=63033, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 11, 15), RECENCY=82, MNTWINES=194, MNTFRUITS=61, MNTMEATPRODUCTS=480, MNTFISHPRODUCTS=225, MNTSWEETPRODUCTS=112, MNTGOLDPRODS=30, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=3, NUMCATALOGPURCHASES=4, NUMSTOREPURCHASES=8, NUMWEBVISITSMONTH=2),
 Row(ID=8180, YEAR_BIRTH=1952, EDUCATION='Master', MARITAL_STATUS='Divorced', INCOME=59354, KIDHOME=1, TEENHOME=1, DT_CUSTOMER=datetime.date(2013, 11, 15), RECENCY=53, MNTWINES=233, MNTFRUITS=2, MNTMEATPRODUCTS=53, MNTFISHPRODUCTS=3, MNTSWEETPRODUCTS=5, MNTGOLDPRODS=14, NUMDEALSPURCHASES=3, NUMWEBPURCHASES=6, NUMCATALOGPURCHASES=1, NUMSTOREPURCHASES=5, NUMWEBVISITSMONTH=6),
 Row(ID=2569, YEAR_BIRTH=1987, EDUCATION='Graduation', MARITAL_STATUS='Married', INCOME=17323, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2012, 10, 10), RECENCY=38, MNTWINES=3, MNTFRUITS=14, MNTMEATPRODUCTS=17, MNTFISHPRODUCTS=6, MNTSWEETPRODUCTS=1, MNTGOLDPRODS=5, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=1, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=3, NUMWEBVISITSMONTH=8),
 Row(ID=2114, YEAR_BIRTH=1946, EDUCATION='PhD', MARITAL_STATUS='Single', INCOME=82800, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2012, 11, 24), RECENCY=23, MNTWINES=1006, MNTFRUITS=22, MNTMEATPRODUCTS=115, MNTFISHPRODUCTS=59, MNTSWEETPRODUCTS=68, MNTGOLDPRODS=45, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=7, NUMCATALOGPURCHASES=6, NUMSTOREPURCHASES=12, NUMWEBVISITSMONTH=3),
 Row(ID=9736, YEAR_BIRTH=1980, EDUCATION='Graduation', MARITAL_STATUS='Married', INCOME=41850, KIDHOME=1, TEENHOME=1, DT_CUSTOMER=datetime.date(2012, 12, 24), RECENCY=51, MNTWINES=53, MNTFRUITS=5, MNTMEATPRODUCTS=19, MNTFISHPRODUCTS=2, MNTSWEETPRODUCTS=13, MNTGOLDPRODS=4, NUMDEALSPURCHASES=3, NUMWEBPURCHASES=3, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=3, NUMWEBVISITSMONTH=8),
 Row(ID=4939, YEAR_BIRTH=1946, EDUCATION='Graduation', MARITAL_STATUS='Together', INCOME=37760, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2012, 8, 31), RECENCY=20, MNTWINES=84, MNTFRUITS=5, MNTMEATPRODUCTS=38, MNTFISHPRODUCTS=150, MNTSWEETPRODUCTS=12, MNTGOLDPRODS=28, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=4, NUMCATALOGPURCHASES=1, NUMSTOREPURCHASES=6, NUMWEBVISITSMONTH=7),
 Row(ID=6565, YEAR_BIRTH=1949, EDUCATION='Master', MARITAL_STATUS='Married', INCOME=76995, KIDHOME=0, TEENHOME=1, DT_CUSTOMER=datetime.date(2013, 3, 28), RECENCY=91, MNTWINES=1012, MNTFRUITS=80, MNTMEATPRODUCTS=498, MNTFISHPRODUCTS=0, MNTSWEETPRODUCTS=16, MNTGOLDPRODS=176, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=11, NUMCATALOGPURCHASES=4, NUMSTOREPURCHASES=9, NUMWEBVISITSMONTH=5),
 Row(ID=2278, YEAR_BIRTH=1985, EDUCATION='2n Cycle', MARITAL_STATUS='Single', INCOME=33812, KIDHOME=1, TEENHOME=0, DT_CUSTOMER=datetime.date(2012, 11, 3), RECENCY=86, MNTWINES=4, MNTFRUITS=17, MNTMEATPRODUCTS=19, MNTFISHPRODUCTS=30, MNTSWEETPRODUCTS=24, MNTGOLDPRODS=39, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=2, NUMCATALOGPURCHASES=1, NUMSTOREPURCHASES=3, NUMWEBVISITSMONTH=6),
 Row(ID=9360, YEAR_BIRTH=1982, EDUCATION='Graduation', MARITAL_STATUS='Married', INCOME=37040, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2012, 8, 8), RECENCY=41, MNTWINES=86, MNTFRUITS=2, MNTMEATPRODUCTS=73, MNTFISHPRODUCTS=69, MNTSWEETPRODUCTS=38, MNTGOLDPRODS=48, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=4, NUMCATALOGPURCHASES=2, NUMSTOREPURCHASES=5, NUMWEBVISITSMONTH=8),
 Row(ID=5376, YEAR_BIRTH=1979, EDUCATION='Graduation', MARITAL_STATUS='Married', INCOME=2447, KIDHOME=1, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 1, 6), RECENCY=42, MNTWINES=1, MNTFRUITS=1, MNTMEATPRODUCTS=1725, MNTFISHPRODUCTS=1, MNTSWEETPRODUCTS=1, MNTGOLDPRODS=1, NUMDEALSPURCHASES=15, NUMWEBPURCHASES=0, NUMCATALOGPURCHASES=28, NUMSTOREPURCHASES=0, NUMWEBVISITSMONTH=1),
 Row(ID=1993, YEAR_BIRTH=1949, EDUCATION='PhD', MARITAL_STATUS='Married', INCOME=58607, KIDHOME=0, TEENHOME=1, DT_CUSTOMER=datetime.date(2012, 12, 23), RECENCY=63, MNTWINES=867, MNTFRUITS=0, MNTMEATPRODUCTS=86, MNTFISHPRODUCTS=0, MNTSWEETPRODUCTS=0, MNTGOLDPRODS=19, NUMDEALSPURCHASES=3, NUMWEBPURCHASES=2, NUMCATALOGPURCHASES=3, NUMSTOREPURCHASES=9, NUMWEBVISITSMONTH=8),
 Row(ID=4047, YEAR_BIRTH=1954, EDUCATION='PhD', MARITAL_STATUS='Married', INCOME=65324, KIDHOME=0, TEENHOME=1, DT_CUSTOMER=datetime.date(2014, 1, 11), RECENCY=0, MNTWINES=384, MNTFRUITS=0, MNTMEATPRODUCTS=102, MNTFISHPRODUCTS=21, MNTSWEETPRODUCTS=32, MNTGOLDPRODS=5, NUMDEALSPURCHASES=3, NUMWEBPURCHASES=6, NUMCATALOGPURCHASES=2, NUMSTOREPURCHASES=9, NUMWEBVISITSMONTH=4),
 Row(ID=1409, YEAR_BIRTH=1951, EDUCATION='Graduation', MARITAL_STATUS='Together', INCOME=40689, KIDHOME=0, TEENHOME=1, DT_CUSTOMER=datetime.date(2013, 3, 18), RECENCY=69, MNTWINES=270, MNTFRUITS=3, MNTMEATPRODUCTS=27, MNTFISHPRODUCTS=39, MNTSWEETPRODUCTS=6, MNTGOLDPRODS=99, NUMDEALSPURCHASES=7, NUMWEBPURCHASES=7, NUMCATALOGPURCHASES=1, NUMSTOREPURCHASES=5, NUMWEBVISITSMONTH=8),
 Row(ID=7892, YEAR_BIRTH=1969, EDUCATION='Graduation', MARITAL_STATUS='Single', INCOME=18589, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 1, 2), RECENCY=89, MNTWINES=6, MNTFRUITS=4, MNTMEATPRODUCTS=25, MNTFISHPRODUCTS=15, MNTSWEETPRODUCTS=12, MNTGOLDPRODS=13, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=2, NUMCATALOGPURCHASES=1, NUMSTOREPURCHASES=3, NUMWEBVISITSMONTH=7),
 Row(ID=2404, YEAR_BIRTH=1976, EDUCATION='Graduation', MARITAL_STATUS='Married', INCOME=53359, KIDHOME=1, TEENHOME=1, DT_CUSTOMER=datetime.date(2013, 5, 27), RECENCY=4, MNTWINES=173, MNTFRUITS=4, MNTMEATPRODUCTS=30, MNTFISHPRODUCTS=3, MNTSWEETPRODUCTS=6, MNTGOLDPRODS=41, NUMDEALSPURCHASES=4, NUMWEBPURCHASES=5, NUMCATALOGPURCHASES=1, NUMSTOREPURCHASES=4, NUMWEBVISITSMONTH=7),
 Row(ID=5255, YEAR_BIRTH=1986, EDUCATION='Graduation', MARITAL_STATUS='Single', INCOME=None, KIDHOME=1, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 2, 20), RECENCY=19, MNTWINES=5, MNTFRUITS=1, MNTMEATPRODUCTS=3, MNTFISHPRODUCTS=3, MNTSWEETPRODUCTS=263, MNTGOLDPRODS=362, NUMDEALSPURCHASES=0, NUMWEBPURCHASES=27, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=0, NUMWEBVISITSMONTH=1),
 Row(ID=9422, YEAR_BIRTH=1989, EDUCATION='Graduation', MARITAL_STATUS='Married', INCOME=38360, KIDHOME=1, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 5, 31), RECENCY=26, MNTWINES=36, MNTFRUITS=2, MNTMEATPRODUCTS=42, MNTFISHPRODUCTS=20, MNTSWEETPRODUCTS=21, MNTGOLDPRODS=10, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=2, NUMCATALOGPURCHASES=1, NUMSTOREPURCHASES=4, NUMWEBVISITSMONTH=3),
 Row(ID=1966, YEAR_BIRTH=1965, EDUCATION='PhD', MARITAL_STATUS='Married', INCOME=84618, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 11, 22), RECENCY=96, MNTWINES=684, MNTFRUITS=100, MNTMEATPRODUCTS=801, MNTFISHPRODUCTS=21, MNTSWEETPRODUCTS=66, MNTGOLDPRODS=0, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=6, NUMCATALOGPURCHASES=9, NUMSTOREPURCHASES=10, NUMWEBVISITSMONTH=2),
 Row(ID=6864, YEAR_BIRTH=1989, EDUCATION='Master', MARITAL_STATUS='Divorced', INCOME=10979, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2014, 5, 22), RECENCY=34, MNTWINES=8, MNTFRUITS=4, MNTMEATPRODUCTS=10, MNTFISHPRODUCTS=2, MNTSWEETPRODUCTS=2, MNTGOLDPRODS=4, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=3, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=3, NUMWEBVISITSMONTH=5),
 Row(ID=3033, YEAR_BIRTH=1963, EDUCATION='Master', MARITAL_STATUS='Together', INCOME=38620, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 5, 11), RECENCY=56, MNTWINES=112, MNTFRUITS=17, MNTMEATPRODUCTS=44, MNTFISHPRODUCTS=34, MNTSWEETPRODUCTS=22, MNTGOLDPRODS=89, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=2, NUMCATALOGPURCHASES=5, NUMSTOREPURCHASES=3, NUMWEBVISITSMONTH=3),
 Row(ID=5710, YEAR_BIRTH=1970, EDUCATION='Graduation', MARITAL_STATUS='Together', INCOME=40548, KIDHOME=0, TEENHOME=1, DT_CUSTOMER=datetime.date(2012, 10, 10), RECENCY=31, MNTWINES=110, MNTFRUITS=0, MNTMEATPRODUCTS=5, MNTFISHPRODUCTS=2, MNTSWEETPRODUCTS=0, MNTGOLDPRODS=3, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=2, NUMCATALOGPURCHASES=1, NUMSTOREPURCHASES=4, NUMWEBVISITSMONTH=5),
 Row(ID=7373, YEAR_BIRTH=1952, EDUCATION='PhD', MARITAL_STATUS='Divorced', INCOME=46610, KIDHOME=0, TEENHOME=2, DT_CUSTOMER=datetime.date(2012, 10, 29), RECENCY=8, MNTWINES=96, MNTFRUITS=12, MNTMEATPRODUCTS=96, MNTFISHPRODUCTS=33, MNTSWEETPRODUCTS=22, MNTGOLDPRODS=43, NUMDEALSPURCHASES=6, NUMWEBPURCHASES=4, NUMCATALOGPURCHASES=1, NUMSTOREPURCHASES=6, NUMWEBVISITSMONTH=6),
 Row(ID=8755, YEAR_BIRTH=1946, EDUCATION='Master', MARITAL_STATUS='Married', INCOME=68657, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 2, 20), RECENCY=4, MNTWINES=482, MNTFRUITS=34, MNTMEATPRODUCTS=471, MNTFISHPRODUCTS=119, MNTSWEETPRODUCTS=68, MNTGOLDPRODS=22, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=3, NUMCATALOGPURCHASES=5, NUMSTOREPURCHASES=9, NUMWEBVISITSMONTH=7),
 Row(ID=10738, YEAR_BIRTH=1951, EDUCATION='Master', MARITAL_STATUS='Single', INCOME=49389, KIDHOME=1, TEENHOME=1, DT_CUSTOMER=datetime.date(2013, 8, 29), RECENCY=55, MNTWINES=40, MNTFRUITS=0, MNTMEATPRODUCTS=19, MNTFISHPRODUCTS=2, MNTSWEETPRODUCTS=1, MNTGOLDPRODS=3, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=2, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=3, NUMWEBVISITSMONTH=7),
 Row(ID=4339, YEAR_BIRTH=1970, EDUCATION='PhD', MARITAL_STATUS='Married', INCOME=67353, KIDHOME=0, TEENHOME=1, DT_CUSTOMER=datetime.date(2013, 12, 31), RECENCY=37, MNTWINES=702, MNTFRUITS=17, MNTMEATPRODUCTS=151, MNTFISHPRODUCTS=0, MNTSWEETPRODUCTS=8, MNTGOLDPRODS=35, NUMDEALSPURCHASES=5, NUMWEBPURCHASES=5, NUMCATALOGPURCHASES=6, NUMSTOREPURCHASES=12, NUMWEBVISITSMONTH=2),
 Row(ID=10755, YEAR_BIRTH=1976, EDUCATION='2n Cycle', MARITAL_STATUS='Married', INCOME=23718, KIDHOME=1, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 9, 2), RECENCY=76, MNTWINES=6, MNTFRUITS=3, MNTMEATPRODUCTS=14, MNTFISHPRODUCTS=15, MNTSWEETPRODUCTS=7, MNTGOLDPRODS=36, NUMDEALSPURCHASES=3, NUMWEBPURCHASES=3, NUMCATALOGPURCHASES=1, NUMSTOREPURCHASES=2, NUMWEBVISITSMONTH=7),
 Row(ID=8595, YEAR_BIRTH=1973, EDUCATION='Graduation', MARITAL_STATUS='Widow', INCOME=42429, KIDHOME=0, TEENHOME=1, DT_CUSTOMER=datetime.date(2014, 2, 11), RECENCY=99, MNTWINES=55, MNTFRUITS=0, MNTMEATPRODUCTS=6, MNTFISHPRODUCTS=2, MNTSWEETPRODUCTS=0, MNTGOLDPRODS=4, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=1, NUMCATALOGPURCHASES=1, NUMSTOREPURCHASES=3, NUMWEBVISITSMONTH=5),
 Row(ID=2968, YEAR_BIRTH=1943, EDUCATION='PhD', MARITAL_STATUS='Divorced', INCOME=48948, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 2, 1), RECENCY=53, MNTWINES=437, MNTFRUITS=8, MNTMEATPRODUCTS=206, MNTFISHPRODUCTS=160, MNTSWEETPRODUCTS=49, MNTGOLDPRODS=42, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=7, NUMCATALOGPURCHASES=10, NUMSTOREPURCHASES=5, NUMWEBVISITSMONTH=6),
 Row(ID=8601, YEAR_BIRTH=1980, EDUCATION='Graduation', MARITAL_STATUS='Married', INCOME=80011, KIDHOME=0, TEENHOME=1, DT_CUSTOMER=datetime.date(2013, 4, 29), RECENCY=3, MNTWINES=421, MNTFRUITS=76, MNTMEATPRODUCTS=536, MNTFISHPRODUCTS=82, MNTSWEETPRODUCTS=178, MNTGOLDPRODS=102, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=8, NUMCATALOGPURCHASES=6, NUMSTOREPURCHASES=5, NUMWEBVISITSMONTH=4),
 Row(ID=503, YEAR_BIRTH=1985, EDUCATION='Master', MARITAL_STATUS='Married', INCOME=20559, KIDHOME=1, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 3, 12), RECENCY=88, MNTWINES=13, MNTFRUITS=1, MNTMEATPRODUCTS=29, MNTFISHPRODUCTS=3, MNTSWEETPRODUCTS=0, MNTGOLDPRODS=7, NUMDEALSPURCHASES=2, NUMWEBPURCHASES=2, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=3, NUMWEBVISITSMONTH=8),
 Row(ID=8430, YEAR_BIRTH=1957, EDUCATION='Graduation', MARITAL_STATUS='Together', INCOME=21994, KIDHOME=0, TEENHOME=1, DT_CUSTOMER=datetime.date(2012, 12, 24), RECENCY=4, MNTWINES=9, MNTFRUITS=0, MNTMEATPRODUCTS=6, MNTFISHPRODUCTS=3, MNTSWEETPRODUCTS=1, MNTGOLDPRODS=3, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=0, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=3, NUMWEBVISITSMONTH=5),
 Row(ID=7281, YEAR_BIRTH=1959, EDUCATION='PhD', MARITAL_STATUS='Single', INCOME=None, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 11, 5), RECENCY=80, MNTWINES=81, MNTFRUITS=11, MNTMEATPRODUCTS=50, MNTFISHPRODUCTS=3, MNTSWEETPRODUCTS=2, MNTGOLDPRODS=39, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=1, NUMCATALOGPURCHASES=3, NUMSTOREPURCHASES=4, NUMWEBVISITSMONTH=2),
 Row(ID=2139, YEAR_BIRTH=1975, EDUCATION='Master', MARITAL_STATUS='Married', INCOME=7500, KIDHOME=1, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 10, 2), RECENCY=19, MNTWINES=3, MNTFRUITS=1, MNTMEATPRODUCTS=10, MNTFISHPRODUCTS=3, MNTSWEETPRODUCTS=2, MNTGOLDPRODS=12, NUMDEALSPURCHASES=3, NUMWEBPURCHASES=2, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=3, NUMWEBVISITSMONTH=5),
 Row(ID=1371, YEAR_BIRTH=1976, EDUCATION='Graduation', MARITAL_STATUS='Single', INCOME=79941, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2014, 6, 28), RECENCY=72, MNTWINES=123, MNTFRUITS=164, MNTMEATPRODUCTS=266, MNTFISHPRODUCTS=227, MNTSWEETPRODUCTS=30, MNTGOLDPRODS=174, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=2, NUMCATALOGPURCHASES=4, NUMSTOREPURCHASES=9, NUMWEBVISITSMONTH=1),
 Row(ID=9909, YEAR_BIRTH=1996, EDUCATION='2n Cycle', MARITAL_STATUS='Married', INCOME=7500, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2012, 11, 9), RECENCY=24, MNTWINES=3, MNTFRUITS=18, MNTMEATPRODUCTS=14, MNTFISHPRODUCTS=15, MNTSWEETPRODUCTS=22, MNTGOLDPRODS=50, NUMDEALSPURCHASES=3, NUMWEBPURCHASES=3, NUMCATALOGPURCHASES=1, NUMSTOREPURCHASES=3, NUMWEBVISITSMONTH=9),
 Row(ID=7286, YEAR_BIRTH=1968, EDUCATION='Graduation', MARITAL_STATUS='Together', INCOME=41728, KIDHOME=1, TEENHOME=0, DT_CUSTOMER=datetime.date(2013, 5, 24), RECENCY=92, MNTWINES=13, MNTFRUITS=6, MNTMEATPRODUCTS=15, MNTFISHPRODUCTS=3, MNTSWEETPRODUCTS=5, MNTGOLDPRODS=13, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=2, NUMCATALOGPURCHASES=0, NUMSTOREPURCHASES=2, NUMWEBVISITSMONTH=10),
 Row(ID=7244, YEAR_BIRTH=1951, EDUCATION='Graduation', MARITAL_STATUS='Single', INCOME=None, KIDHOME=2, TEENHOME=1, DT_CUSTOMER=datetime.date(2014, 1, 1), RECENCY=96, MNTWINES=48, MNTFRUITS=5, MNTMEATPRODUCTS=48, MNTFISHPRODUCTS=6, MNTSWEETPRODUCTS=10, MNTGOLDPRODS=7, NUMDEALSPURCHASES=3, NUMWEBPURCHASES=2, NUMCATALOGPURCHASES=1, NUMSTOREPURCHASES=4, NUMWEBVISITSMONTH=6),
 Row(ID=6566, YEAR_BIRTH=1954, EDUCATION='PhD', MARITAL_STATUS='Married', INCOME=72550, KIDHOME=1, TEENHOME=1, DT_CUSTOMER=datetime.date(2012, 11, 8), RECENCY=39, MNTWINES=826, MNTFRUITS=50, MNTMEATPRODUCTS=317, MNTFISHPRODUCTS=50, MNTSWEETPRODUCTS=38, MNTGOLDPRODS=38, NUMDEALSPURCHASES=9, NUMWEBPURCHASES=5, NUMCATALOGPURCHASES=2, NUMSTOREPURCHASES=12, NUMWEBVISITSMONTH=8),
 Row(ID=8614, YEAR_BIRTH=1957, EDUCATION='Graduation', MARITAL_STATUS='Widow', INCOME=65486, KIDHOME=0, TEENHOME=1, DT_CUSTOMER=datetime.date(2014, 5, 12), RECENCY=29, MNTWINES=245, MNTFRUITS=19, MNTMEATPRODUCTS=125, MNTFISHPRODUCTS=37, MNTSWEETPRODUCTS=67, MNTGOLDPRODS=14, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=4, NUMCATALOGPURCHASES=2, NUMSTOREPURCHASES=10, NUMWEBVISITSMONTH=2),
 Row(ID=4114, YEAR_BIRTH=1964, EDUCATION='Master', MARITAL_STATUS='Married', INCOME=79143, KIDHOME=0, TEENHOME=0, DT_CUSTOMER=datetime.date(2012, 8, 11), RECENCY=2, MNTWINES=650, MNTFRUITS=37, MNTMEATPRODUCTS=780, MNTFISHPRODUCTS=27, MNTSWEETPRODUCTS=167, MNTGOLDPRODS=32, NUMDEALSPURCHASES=1, NUMWEBPURCHASES=6, NUMCATALOGPURCHASES=9, NUMSTOREPURCHASES=13, NUMWEBVISITSMONTH=3),

In [7]:
# get count of rows
purchase_history.count()

2000

In [8]:
# show the columns
purchase_history.columns

['ID',
 'YEAR_BIRTH',
 'EDUCATION',
 'MARITAL_STATUS',
 'INCOME',
 'KIDHOME',
 'TEENHOME',
 'DT_CUSTOMER',
 'RECENCY',
 'MNTWINES',
 'MNTFRUITS',
 'MNTMEATPRODUCTS',
 'MNTFISHPRODUCTS',
 'MNTSWEETPRODUCTS',
 'MNTGOLDPRODS',
 'NUMDEALSPURCHASES',
 'NUMWEBPURCHASES',
 'NUMCATALOGPURCHASES',
 'NUMSTOREPURCHASES',
 'NUMWEBVISITSMONTH']

In [9]:
# filter specific rows
from snowflake.snowpark.functions import col
purchase_history.filter(col('id') == 1).show()

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ID"  |"YEAR_BIRTH"  |"EDUCATION"  |"MARITAL_STATUS"  |"INCOME"  |"KIDHOME"  |"TEENHOME"  |"DT_CUSTOMER"  |"RECENCY"  |"MNTWINES"  |"MNTFRUITS"  |"MNTMEATPRODUCTS"  |"MNTFISHPRODUCTS"  |"MNTSWEETPRODUCTS"  |"MNTGOLDPRODS"  |"NUMDEALSPURCHASES"  |"NUMWEBPURCHASES"  |"NUMCATALOGPURCHASES"  |"NUMSTOREPURCHASES"  |"NUMWEBVISITSMONTH"  |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|1     |1961          |Graduation   |Single            |57091     |0          |0           |2014-06-15     |0          |464         |5            |64                 |7                  |0                   |37              |1                    |7                  |3                      |7                    |5                    |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [10]:
# multiple filters
purchase_history.filter((col('MARITAL_STATUS') == 'Married') & (col('KIDHOME') == 1)).show()

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ID"   |"YEAR_BIRTH"  |"EDUCATION"  |"MARITAL_STATUS"  |"INCOME"  |"KIDHOME"  |"TEENHOME"  |"DT_CUSTOMER"  |"RECENCY"  |"MNTWINES"  |"MNTFRUITS"  |"MNTMEATPRODUCTS"  |"MNTFISHPRODUCTS"  |"MNTSWEETPRODUCTS"  |"MNTGOLDPRODS"  |"NUMDEALSPURCHASES"  |"NUMWEBPURCHASES"  |"NUMCATALOGPURCHASES"  |"NUMSTOREPURCHASES"  |"NUMWEBVISITSMONTH"  |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|5324   |1981          |PhD          |Married           |58293     |1          |0           |2014-01-19     |94         |173         |43           |118                |46                 |27                  |15              |5                    |5                  |3                      |6                    |5                    |
|6177   |1985          |PhD          |Married           |33454     |1          |0           |2013-05-08     |32         |76          |10           |56                 |3                  |1                   |23              |2                    |4                  |0                      |4                    |8                    |
|1994   |1983          |Graduation   |Married           |NULL      |1          |0           |2013-11-15     |11         |5           |5            |6                  |0                  |2                   |1               |1                    |1                  |0                      |2                    |7                    |
|9736   |1980          |Graduation   |Married           |41850     |1          |1           |2012-12-24     |51         |53          |5            |19                 |2                  |13                  |4               |3                    |3                  |0                      |3                    |8                    |
|5376   |1979          |Graduation   |Married           |2447      |1          |0           |2013-01-06     |42         |1           |1            |1725               |1                  |1                   |1               |15                   |0                  |28                     |0                    |1                    |
|2404   |1976          |Graduation   |Married           |53359     |1          |1           |2013-05-27     |4          |173         |4            |30                 |3                  |6                   |41              |4                    |5                  |1                      |4                    |7                    |
|9422   |1989          |Graduation   |Married           |38360     |1          |0           |2013-05-31     |26         |36          |2            |42                 |20                 |21                  |10              |2                    |2                  |1                      |4                    |3                    |
|10755  |1976          |2n Cycle     |Married           |23718     |1          |0           |2013-09-02     |76         |6           |3            |14                 |15                 |7                   |36              |3                    |3                  |1                      |2                    |7                    |
|503    |1985          |Master       |Married           |20559     |1          |0           |2013-03-12     |88         |13          |1            |29                 |3                  |0                   |7               |2                    |2                  |0                      |3                    |8                    |
|2139   |1975          |Master       |Married           |7500      |1          |0           |2013-10-02     |19         |3           |1            |10                 |3                  |2                   |12              |3                    |2                  |0                      |3                    |5                    |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [11]:
# filter range of values
purchase_history.filter((col('YEAR_BIRTH') >= 1964) & (col('YEAR_BIRTH') <= 1980)).show()

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ID"  |"YEAR_BIRTH"  |"EDUCATION"  |"MARITAL_STATUS"  |"INCOME"  |"KIDHOME"  |"TEENHOME"  |"DT_CUSTOMER"  |"RECENCY"  |"MNTWINES"  |"MNTFRUITS"  |"MNTMEATPRODUCTS"  |"MNTFISHPRODUCTS"  |"MNTSWEETPRODUCTS"  |"MNTGOLDPRODS"  |"NUMDEALSPURCHASES"  |"NUMWEBPURCHASES"  |"NUMCATALOGPURCHASES"  |"NUMSTOREPURCHASES"  |"NUMWEBVISITSMONTH"  |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|4141  |1965          |Graduation   |Together          |71613     |0          |0           |2013-08-21     |26         |426         |49           |127                |111                |21                  |42              |1                    |8                  |2                      |10                   |4                    |
|7446  |1967          |Master       |Together          |62513     |0          |1           |2013-09-09     |16         |520         |42           |98                 |0                  |42                  |14              |2                    |6                  |4                      |10                   |6                    |
|965   |1971          |Graduation   |Divorced          |55635     |0          |1           |2012-11-13     |34         |235         |65           |164                |50                 |49                  |27              |4                    |7                  |3                      |7                    |6                    |
|4855  |1974          |PhD          |Together          |30351     |1          |0           |2013-06-06     |19         |14          |0            |24                 |3                  |3                   |2               |1                    |3                  |0                      |2                    |9                    |
|387   |1976          |Basic        |Married           |7500      |0          |0           |2012-11-13     |59         |6           |16           |11                 |11                 |1                   |16              |1                    |2                  |0                      |3                    |8                    |
|9736  |1980          |Graduation   |Married           |41850     |1          |1           |2012-12-24     |51         |53          |5            |19                 |2                  |13                  |4               |3                    |3                  |0                      |3                    |8                    |
|5376  |1979          |Graduation   |Married           |2447      |1          |0           |2013-01-06     |42         |1           |1            |1725               |1                  |1                   |1               |15                   |0                  |28                     |0                    |1                    |
|7892  |1969          |Graduation   |Single            |18589     |0          |0           |2013-01-02     |89         |6           |4            |25                 |15                 |12                  |13              |2                    |2                  |1                      |3                    |7                    |
|2404  |1976          |Graduation   |Married           |53359     |1          |1           |2013-05-27     |4          |173         |4            |30                 |3                  |6                   |41              |4                    |5                  |1                      |4                    |7                    |
|1966  |1965          |PhD          |Married           |84618     |0          |0           |2013-11-22     |96         |684         |100          |801                |21                 |66                  |0               |1                    |6                  |9                      |10                   |2                    |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [12]:
# select a subset of columns
purchase_history.select(col('ID'), col('YEAR_BIRTH'), col('EDUCATION')).show()

-------------------------------------
|"ID"  |"YEAR_BIRTH"  |"EDUCATION"  |
-------------------------------------
|5524  |1957          |Graduation   |
|2174  |1954          |Graduation   |
|4141  |1965          |Graduation   |
|6182  |1984          |Graduation   |
|5324  |1981          |PhD          |
|7446  |1967          |Master       |
|965   |1971          |Graduation   |
|6177  |1985          |PhD          |
|4855  |1974          |PhD          |
|5899  |1950          |PhD          |
-------------------------------------

# Data Transformation

In [14]:
# inner join b/w purchase_history and campaign_info
purchase_campaign = purchase_history.join(
    campaign_info,
    purchase_history.ID == campaign_info.ID,
    lsuffix='_left', rsuffix='_right'
)

# drop extra ID column
purchase_campaign = purchase_campaign.drop('ID_RIGHT')

# show dataframe
purchase_campaign.show()

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ID_LEFT"  |"YEAR_BIRTH"  |"EDUCATION"  |"MARITAL_STATUS"  |"INCOME"  |"KIDHOME"  |"TEENHOME"  |"DT_CUSTOMER"  |"RECENCY"  |"MNTWINES"  |"MNTFRUITS"  |"MNTMEATPRODUCTS"  |"MNTFISHPRODUCTS"  |"MNTSWEETPRODUCTS"  |"MNTGOLDPRODS"  |"NUMDEALSPURCHASES"  |"NUMWEBPURCHASES"  |"NUMCATALOGPURCHASES"  |"NUMSTOREPURCHASES"  |"NUMWEBVISITSMONTH"  |"ACCEPTEDCMP1"  |"ACCEPTEDCMP2"  |"ACCEPTEDCMP3"  |"ACCEPTEDCMP4"  |"ACCEPTEDCMP5"  |"RESPONSE"  |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|5524       |1957          |Graduation   |Single            |58138     |0          |0           |2012-09-04     |58         |635         |88           |546                |172                |88                  |88              |3                    |8                  |10                     |4                    |7                    |0               |0               |0               |0               |0               |1           |
|2174       |1954          |Graduation   |Single            |46344     |1          |1           |2014-03-08     |38         |11          |1            |6                  |2                  |1                   |6               |2                    |1                  |1                      |2                    |5                    |0               |0               |0               |0               |0               |0           |
|4141       |1965          |Graduation   |Together          |71613     |0          |0           |2013-08-21     |26         |426         |49           |127                |111                |21                  |42              |1                    |8                  |2                      |10                   |4                    |0               |0               |0               |0               |0               |0           |
|6182       |1984          |Graduation   |Together          |26646     |1          |0           |2014-02-10     |26         |11          |4            |20                 |10                 |3                   |5               |2                    |2                  |0                      |4                    |6                    |0               |0               |0               |0               |0               |0           |
|5324       |1981          |PhD          |Married           |58293     |1          |0           |2014-01-19     |94         |173         |43           |118                |46                 |27                  |15              |5                    |5                  |3                      |6                    |5                    |0               |0               |0               |0               |0               |0           |
|7446       |1967          |Master       |Together          |62513     |0          |1           |2013-09-09     |16         |520         |42           |98                 |0                  |42                  |14              |2                    |6                  |4                      |10                   |6                    |0               |0               |0               |0               |0               |0           |
|965        |1971          |Graduation   |Divorced          |55635     |0          |1           |2012-11-13     |34         |235         |65           |164                |50                 |49                  |27              |4                    |7                  |3                      |7                    |6                    |0               |0               |0               |0               |0               |0           |
|6177       |1985          |PhD          |Married           |33454     |1          |0           |2013-05-08     |32         |76          |10           |56                 |3                  |1                   |23              |2                    |4                  |0                      |4                    |8                    |0               |0               |0               |0               |0               |0           |
|4855       |1974          |PhD          |Together          |30351     |1          |0           |2013-06-06     |19         |14          |0            |24                 |3                  |3                   |2               |1                    |3                  |0                      |2                    |9                    |0               |0               |0               |0               |0               |1           |
|5899       |1950          |PhD          |Together          |5648      |1          |1           |2014-03-13     |68         |28          |0            |6                  |1                  |1                   |13              |1                    |1                  |0                      |0                    |20                   |0               |0               |1               |0               |0               |0           |
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [15]:
# combine with complaint information
final_combined = purchase_campaign.join(
    complain_info,
    purchase_campaign['ID_LEFT'] == complain_info.ID
)
final_combined = final_combined.drop('ID_LEFT')
final_combined.show()

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"YEAR_BIRTH"  |"EDUCATION"  |"MARITAL_STATUS"  |"INCOME"  |"KIDHOME"  |"TEENHOME"  |"DT_CUSTOMER"  |"RECENCY"  |"MNTWINES"  |"MNTFRUITS"  |"MNTMEATPRODUCTS"  |"MNTFISHPRODUCTS"  |"MNTSWEETPRODUCTS"  |"MNTGOLDPRODS"  |"NUMDEALSPURCHASES"  |"NUMWEBPURCHASES"  |"NUMCATALOGPURCHASES"  |"NUMSTOREPURCHASES"  |"NUMWEBVISITSMONTH"  |"ACCEPTEDCMP1"  |"ACCEPTEDCMP2"  |"ACCEPTEDCMP3"  |"ACCEPTEDCMP4"  |"ACCEPTEDCMP5"  |"RESPONSE"  |"ID"  |"COMPLAIN"  |"Z_COSTCONTACT"  |"Z_REVENUE"  |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|1957          |Graduation   |Single            |58138     |0          |0           |2012-09-04     |58         |635         |88           |546                |172                |88                  |88              |3                    |8                  |10                     |4                    |7                    |0               |0               |0               |0               |0               |1           |5524  |0           |3                |11           |
|1954          |Graduation   |Single            |46344     |1          |1           |2014-03-08     |38         |11          |1            |6                  |2                  |1                   |6               |2                    |1                  |1                      |2                    |5                    |0               |0               |0               |0               |0               |0           |2174  |0           |3                |11           |
|1965          |Graduation   |Together          |71613     |0          |0           |2013-08-21     |26         |426         |49           |127                |111                |21                  |42              |1                    |8                  |2                      |10                   |4                    |0               |0               |0               |0               |0               |0           |4141  |0           |3                |11           |
|1984          |Graduation   |Together          |26646     |1          |0           |2014-02-10     |26         |11          |4            |20                 |10                 |3                   |5               |2                    |2                  |0                      |4                    |6                    |0               |0               |0               |0               |0               |0           |6182  |0           |3                |11           |
|1981          |PhD          |Married           |58293     |1          |0           |2014-01-19     |94         |173         |43           |118                |46                 |27                  |15              |5                    |5                  |3                      |6                    |5                    |0               |0               |0               |0               |0               |0           |5324  |0           |3                |11           |
|1967          |Master       |Together          |62513     |0          |1           |2013-09-09     |16         |520         |42           |98                 |0                  |42                  |14              |2                    |6                  |4                      |10                   |6                    |0               |0               |0               |0               |0               |0           |7446  |0           |3                |11           |
|1971          |Graduation   |Divorced          |55635     |0          |1           |2012-11-13     |34         |235         |65           |164                |50                 |49                  |27              |4                    |7                  |3                      |7                    |6                    |0               |0               |0               |0               |0               |0           |965   |0           |3                |11           |
|1985          |PhD          |Married           |33454     |1          |0           |2013-05-08     |32         |76          |10           |56                 |3                  |1                   |23              |2                    |4                  |0                      |4                    |8                    |0               |0               |0               |0               |0               |0           |6177  |0           |3                |11           |
|1974          |PhD          |Together          |30351     |1          |0           |2013-06-06     |19         |14          |0            |24                 |3                  |3                   |2               |1                    |3                  |0                      |2                    |9                    |0               |0               |0               |0               |0               |1           |4855  |0           |3                |11           |
|1950          |PhD          |Together          |5648      |1          |1           |2014-03-13     |68         |28          |0            |6                  |1                  |1                   |13              |1                    |1                  |0                      |0                    |20                   |0               |0               |1               |0               |0               |0           |5899  |0           |3                |11           |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [16]:
# write combined data to table
final_combined.write.save_as_table('MARKETING_DATA')

In [18]:
# ingest marketing_additional csv file
session.file.put('./datasets/marketing_additional.csv', 'MY_STAGE')

import snowflake.snowpark.types as T

marketing_additional_schema = T.StructType([T.StructField("ID", T.IntegerType()),
        T.StructField("Year_Birth", T.IntegerType()),T.StructField("Education", T.StringType()),
        T.StructField("Marital_Status", T.StringType()),T.StructField("Income", T.IntegerType()),
        T.StructField("Kidhome", T.IntegerType()),T.StructField("Teenhome", T.IntegerType()),
        T.StructField("Dt_Customer", T.DateType()),T.StructField("Recency", T.IntegerType()),
        T.StructField("MntWines", T.IntegerType()),T.StructField("MntFruits", T.IntegerType()),
        T.StructField("MntMeatProducts", T.IntegerType()),T.StructField("MntFishProducts", T.IntegerType()),
        T.StructField("MntSweetProducts", T.IntegerType()),T.StructField("MntGoldProds", T.IntegerType()),
        T.StructField("NumDealsPurchases", T.IntegerType()),T.StructField("NumWebPurchases", T.IntegerType()),
        T.StructField("NumCatalogPurchases", T.IntegerType()),T.StructField("NumStorePurchases", T.IntegerType()),
        T.StructField("NumWebVisitsMonth", T.IntegerType()),T.StructField("AcceptedCmp3", T.IntegerType()),
        T.StructField("AcceptedCmp4", T.IntegerType()),T.StructField("AcceptedCmp5", T.IntegerType()),
        T.StructField("AcceptedCmp1", T.IntegerType()),T.StructField("AcceptedCmp2", T.IntegerType()),
        T.StructField("Complain", T.IntegerType()),T.StructField("Z_CostContact", T.IntegerType()),
        T.StructField("Z_Revenue", T.IntegerType()),T.StructField("Response", T.DecimalType())
])

session.sql("TRUNCATE TABLE IF EXISTS MARKETING_ADDITIONAL").collect()

marketing_additional = session.read\
        .option("FIELD_DELIMITER", ',')\
        .option("SKIP_HEADER", 1)\
        .option("ON_ERROR", "CONTINUE")\
        .schema(marketing_additional_schema).csv("@MY_Stage/marketing_additional.csv.gz")\
        .copy_into_table("MARKETING_ADDITIONAL")

session.table("MARKETING_ADDITIONAL").show()

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ID"   |"YEAR_BIRTH"  |"EDUCATION"  |"MARITAL_STATUS"  |"INCOME"  |"KIDHOME"  |"TEENHOME"  |"DT_CUSTOMER"  |"RECENCY"  |"MNTWINES"  |"MNTFRUITS"  |"MNTMEATPRODUCTS"  |"MNTFISHPRODUCTS"  |"MNTSWEETPRODUCTS"  |"MNTGOLDPRODS"  |"NUMDEALSPURCHASES"  |"NUMWEBPURCHASES"  |"NUMCATALOGPURCHASES"  |"NUMSTOREPURCHASES"  |"NUMWEBVISITSMONTH"  |"ACCEPTEDCMP3"  |"ACCEPTEDCMP4"  |"ACCEPTEDCMP5"  |"ACCEPTEDCMP1"  |"ACCEPTEDCMP2"  |"COMPLAIN"  |"Z_COSTCONTACT"  |"Z_REVENUE"  |"RESPONSE"  |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|4860   |1970          |Graduation   |Single            |24206     |1          |0           |2013-03-08     |66         |7           |2            |8                  |3                  |2                   |3               |1                    |1                  |0                      |3                    |6                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
|10757  |1967          |PhD          |Divorced          |28420     |1          |0           |2013-12-24     |36         |4           |2            |5                  |2                  |0                   |0               |1                    |1                  |0                      |2                    |6                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
|4023   |1970          |Graduation   |Married           |22979     |1          |0           |2012-09-06     |29         |16          |17           |19                 |20                 |21                  |22              |3                    |3                  |2                      |2                    |8                    |0               |0               |0               |0               |0               |0           |3                |11           |1           |
|6679   |1966          |Graduation   |Single            |33279     |0          |0           |2014-06-12     |29         |10          |3            |3                  |0                  |0                   |0               |1                    |0                  |0                      |3                    |3                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
|9923   |1972          |Master       |Single            |46423     |1          |1           |2013-09-18     |6          |68          |0            |16                 |0                  |0                   |8               |3                    |2                  |0                      |4                    |7                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
|7181   |1977          |Graduation   |Married           |30368     |0          |1           |2013-11-07     |97         |35          |0            |13                 |2                  |0                   |2               |2                    |2                  |0                      |3                    |8                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
|3599   |1970          |Graduation   |Married           |63684     |0          |1           |2012-11-26     |61         |575         |80           |428                |208                |93                  |80              |3                    |8                  |4                      |8                    |5                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
|405    |1964          |Graduation   |Divorced          |41638     |0          |1           |2013-02-13     |68         |315         |0            |31                 |4                  |0                   |91              |4                    |5                  |5                      |3                    |8                    |1               |0               |0               |0               |0               |0           |3                |11           |0           |
|6870   |1959          |PhD          |Divorced          |68805     |0          |1           |2013-09-17     |73         |182         |2            |49                 |17                 |13                  |20              |1                    |3                  |1                      |7                    |2                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
|832    |1966          |PhD          |Together          |65814     |0          |1           |2014-03-02     |90         |561         |14           |113                |10                 |14                  |35              |3                    |8                  |2                      |10                   |5                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [19]:
# load marketing additional table
marketing_additional = session.table('MARKETING_ADDITIONAL')
marketing_additional.show()

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ID"   |"YEAR_BIRTH"  |"EDUCATION"  |"MARITAL_STATUS"  |"INCOME"  |"KIDHOME"  |"TEENHOME"  |"DT_CUSTOMER"  |"RECENCY"  |"MNTWINES"  |"MNTFRUITS"  |"MNTMEATPRODUCTS"  |"MNTFISHPRODUCTS"  |"MNTSWEETPRODUCTS"  |"MNTGOLDPRODS"  |"NUMDEALSPURCHASES"  |"NUMWEBPURCHASES"  |"NUMCATALOGPURCHASES"  |"NUMSTOREPURCHASES"  |"NUMWEBVISITSMONTH"  |"ACCEPTEDCMP3"  |"ACCEPTEDCMP4"  |"ACCEPTEDCMP5"  |"ACCEPTEDCMP1"  |"ACCEPTEDCMP2"  |"COMPLAIN"  |"Z_COSTCONTACT"  |"Z_REVENUE"  |"RESPONSE"  |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|4860   |1970          |Graduation   |Single            |24206     |1          |0           |2013-03-08     |66         |7           |2            |8                  |3                  |2                   |3               |1                    |1                  |0                      |3                    |6                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
|10757  |1967          |PhD          |Divorced          |28420     |1          |0           |2013-12-24     |36         |4           |2            |5                  |2                  |0                   |0               |1                    |1                  |0                      |2                    |6                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
|4023   |1970          |Graduation   |Married           |22979     |1          |0           |2012-09-06     |29         |16          |17           |19                 |20                 |21                  |22              |3                    |3                  |2                      |2                    |8                    |0               |0               |0               |0               |0               |0           |3                |11           |1           |
|6679   |1966          |Graduation   |Single            |33279     |0          |0           |2014-06-12     |29         |10          |3            |3                  |0                  |0                   |0               |1                    |0                  |0                      |3                    |3                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
|9923   |1972          |Master       |Single            |46423     |1          |1           |2013-09-18     |6          |68          |0            |16                 |0                  |0                   |8               |3                    |2                  |0                      |4                    |7                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
|7181   |1977          |Graduation   |Married           |30368     |0          |1           |2013-11-07     |97         |35          |0            |13                 |2                  |0                   |2               |2                    |2                  |0                      |3                    |8                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
|3599   |1970          |Graduation   |Married           |63684     |0          |1           |2012-11-26     |61         |575         |80           |428                |208                |93                  |80              |3                    |8                  |4                      |8                    |5                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
|405    |1964          |Graduation   |Divorced          |41638     |0          |1           |2013-02-13     |68         |315         |0            |31                 |4                  |0                   |91              |4                    |5                  |5                      |3                    |8                    |1               |0               |0               |0               |0               |0           |3                |11           |0           |
|6870   |1959          |PhD          |Divorced          |68805     |0          |1           |2013-09-17     |73         |182         |2            |49                 |17                 |13                  |20              |1                    |3                  |1                      |7                    |2                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
|832    |1966          |PhD          |Together          |65814     |0          |1           |2014-03-02     |90         |561         |14           |113                |10                 |14                  |35              |3                    |8                  |2                      |10                   |5                    |0               |0               |0               |0               |0               |0           |3                |11           |0           |
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [20]:
# print number of rows
print('No of rows in MARKETING_ADDITIONAL table: ', marketing_additional.count())
print('No of rows in PURCHASE_HISTORY table: ', final_combined.count())

No of rows in MARKETING_ADDITIONAL table:  240
No of rows in PURCHASE_HISTORY table:  2000

In [21]:
# append the data
final_appended = final_combined.union_by_name(marketing_additional)

In [22]:
# print number of rows
print('No of rows in UPDATED table: ', final_appended.count())
final_appended.show()

No of rows in UPDATED table:  2240
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"YEAR_BIRTH"  |"EDUCATION"  |"MARITAL_STATUS"  |"INCOME"  |"KIDHOME"  |"TEENHOME"  |"DT_CUSTOMER"  |"RECENCY"  |"MNTWINES"  |"MNTFRUITS"  |"MNTMEATPRODUCTS"  |"MNTFISHPRODUCTS"  |"MNTSWEETPRODUCTS"  |"MNTGOLDPRODS"  |"NUMDEALSPURCHASES"  |"NUMWEBPURCHASES"  |"NUMCATALOGPURCHASES"  |"NUMSTOREPURCHASES"  |"NUMWEBVISITSMONTH"  |"ACCEPTEDCMP1"  |"ACCEPTEDCMP2"  |"ACCEPTEDCMP3"  |"ACCEPTEDCMP4"  |"ACCEPTEDCMP5"  |"RESPONSE"  |"ID"  |"COMPLAIN"  |"Z_COSTCONTACT"  |"Z_REVENUE"  |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|1959          |Graduation   |Divorced          |63033     |0          |0           |2013-11-15     |82         |194         |61           |480                |225                |112                 |30              |1                    |3                  |4                      |8                    |2                    |0               |0               |0               |0               |0               |0           |2125  |0           |3                |11           |
|1963          |Master       |Together          |38620     |0          |0           |2013-05-11     |56         |112         |17           |44                 |34                 |22                  |89              |1                    |2                  |5                      |3                    |3                    |0               |0               |0               |0               |0               |0           |3033  |0           |3                |11           |
|1975          |Master       |Married           |7500      |1          |0           |2013-10-02     |19         |3           |1            |10                 |3                  |2                   |12              |3                    |2                  |0                      |3                    |5                    |0               |0               |0               |0               |0               |0           |2139  |0           |3                |11           |
|1968          |PhD          |Married           |55954     |0          |1           |2014-03-03     |63         |447         |0            |28                 |0                  |0                   |43              |3                    |8                  |2                      |6                    |7                    |0               |0               |0               |0               |0               |0           |8375  |0           |3                |11           |
|1946          |PhD          |Single            |82800     |0          |0           |2012-11-24     |23         |1006        |22           |115                |59                 |68                  |45              |1                    |7                  |6                      |12                   |3                    |1               |0               |0               |0               |1               |1           |2114  |0           |3                |11           |
|1953          |Master       |Together          |56129     |0          |1           |2013-06-20     |65         |320         |48           |133                |39                 |72                  |48              |4                    |6                  |2                      |10                   |4                    |0               |0               |0               |0               |0               |0           |9805  |0           |3                |11           |
|1974          |Master       |Together          |46014     |1          |1           |2013-01-21     |21         |410         |0            |59                 |19                 |9                   |44              |10                   |7                  |1                      |8                    |7                    |0               |0               |0               |0               |0               |0           |2877  |0           |3                |11           |
|1980          |Graduation   |Together          |69508     |1          |0           |2012-11-14     |48         |824         |32           |162                |42                 |32                  |43              |2                    |11                 |4                      |11                   |6                    |0               |0               |0               |0               |0               |0           |454   |0           |3                |11           |
|1983          |Graduation   |Single            |101970    |0          |0           |2013-03-12     |69         |722         |27           |102                |44                 |72                  |168             |0                    |6                  |8                      |13                   |2                    |1               |0               |0               |1               |1               |1           |7215  |0           |3                |11           |
|1962          |2n Cycle     |Divorced          |81975     |0          |1           |2013-01-05     |2          |983         |76           |184                |180                |138                 |27              |1                    |6                  |3                      |4                    |7                    |0               |0               |0               |0               |1               |0           |5341  |0           |3                |11           |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [23]:
# write to table
final_appended.write.save_as_table('MARKETING_FINAL')

# Close Snowflake Session

In [24]:
# always close a session
session.close()